<section>
<%= form_for @order, url: purchase_path(id: params[:id]), method: :patch do |f| %>
  Name on card:
  <%= f.text_field :cc_name %>
  Billing address:
  <%= f.fields_for :mailing_address do |address| %>
    <li>
      <%= address.label :line1 %>
      <%= address.text_field :line1, placeholder: " streets "%>

      <%= address.label :line2 %>
      <%= address.text_field :line2, placeholder: " city, state, zip code " %>
    </li>
  <% end %>
  Email
  <%= f.text_field :order_email %>
  Credit card number:
  <%= f.number_field :cc_num %>
  Expiration date:
  <%= f.text_field :cc_expiry, placeholder: "mm/yy" %>
  <%= f.hidden_field :status, value: "processing" %>
  <%= f.submit "Purchase", class: 'button'%>

<% end %>
</section>
<%#= submit_tag "Go!", {:onClick => "window.close()"} %>
<div> <%#= link_to_if( some_boolean, "Link Title", <url etc..>) {link_to "Checkout", checkout_path(params[:id]), class: 'button' }%> </div>
