<h1>Orders#index</h1>

<% 5.times do |n| %>
<tr>
  <td><%= @product_names[n] %></td>
  <td>$<%= @prices[n] %></td>
  <td>
    <%= form_tag "/orders/:id/show", method: :patch do %>
      <%= text_number_field :session[:quantities][n]%>
      <%= submit_tag "Update Quantity", class: "    " %>
    <% end %>
  </td>
</tr>
  <% n += 1 %>
<% end %>

<p>Find me in app/views/orders/index.html.erb</p>
