<h1>Cart</h1>
<%= session[:order_ids] %>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% n = 0 %>
    <% @product_names.length.times do |n| %>
    <tr>
      <td><%= @product_names[n] %></td>
      <td>$<%= @prices[n] %></td>
      <td>
        <% @order = Order.find_by(id: session[:order_ids][n]) %>
        <% @orderproduct = Orderproduct.find_by(id: session[:orderproduct_ids][n]) %>


        <%= form_for @orderproduct, url: update_quantity_path(id: params[:id]) do |f| %>
          <%= f.number_field :quantity, min: 1, placeholder: @orderproduct.quantity%>

          <%= f.submit "Update", class: 'button'%>
        <% end %>

        <%= button_to "Delete", delete_orderproduct_path(@order.id), method: :delete,
          data: {confirm: "Are you sure to delete ?"}, class: "alert button" %>


      </td>

<%#= number_field_tag 'quantity', 1, min: 1 %>


    </tr>
  <% n += 1 %>
  <% end %>

  </tbody>
  <li><h2>Subtotal: $<%= '%.02f' % @subtotal %></h2></li>
</table>
