<table>

  <tr>
    <td>Order number </td>
    <td> <%= @order.id %></td>
  </tr>
  <tr>
  <tr>
    <td>Purchase Date </td>
    <td> <%= @order.created_at %></td>
  </tr>
  <tr>
    <td>Address </td>
    <td><%= @order.mailing_address%></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @order.status%></td>
  </tr>
  <tr>
    <td>Order Fulfillment Status</td>
    <td><%= @orderproduct.status %></td>
  </tr>
</table>
<div><%= link_to "Order List", product_orders_path(id: params[:id]), class: "button" %></div>
