<section>
  <%= form_for [@merchant, @product] do |f| %>
    <%= f.hidden_field :merchant_id, value: @merchant.id %>

    <%= f.label :product_name%>
    <%= f.text_field :product_name %>

    <%= f.label :price %>
    <%= f.text_field :price%>

    <%= f.label :photo_url %>
    <%= f.text_area :photo_url %>

    <%= f.label :stock %>
    <%= f.text_field :stock %>

    <%= f.submit class: "button" %>
  <% end %>
</section>
