<div class="container">
  <div class="hero-section zero-margin">
    <div class="hero-section-text">
      <h1>pEtsy</h1>
      <h5>Keeping your pEtsy from getting wEtsy</h5>
    </div>
  </div>

  <h3 class="columns large-12 small-12 text-center">
    All Raincoats
  </h3>

  <section>
    <% @products.each do |product| %>
    <div class="columns large-3 medium-6 small-12">
      <% if product.photo_url.nil? %>
      <div class="all_products">
        <%= link_to image_tag("http://www.fillmurray.com/200/200"), product_path(product) %>
        <div class="product_info">
          <h5><%= product.product_name %></h5>
          <h5><%= product.price %></h5>
        </div>
      </div>
      <% else %>
      <div class="all_products">
        <%= link_to image_tag(product.photo_url, width: 200, height: 200, alt: "Cute animals in raincoats"), product_path(product) %>
        <div class="product_info">
          <h5><%= product.product_name %></h5>
          <h5><%= product.price %></h5>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </section>
</div>
