<article>
  <h3><%= @product.product_name %></h3>
  <%= image_tag(@product.photo_url) %>
  <p>From: <%= @product.merchant_id %></p>
  <p>$<%= @product.price %></p>
  <p><%= @product.product_description %></p>
  <p>Stock: <%= @product.stock %></p>
  <section>
    <p>Add to cart</p>
    <%= link_to "Back to all products", products_path %>
  </section>
</article>
