<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="columns large-3 small-12">
      <section class="user-info">
        <% if @current_user %>
        <p class="text-right">Logged in as <%= link_to @current_user.username, merchant_path(@current_user) %></p>
        <%= link_to "Log Out", logout_path, method: :post, class: "button float-right" %>
        <% else %>
        <p class="text-right">Not logged in</p>
        <%= link_to "Log In", "/auth/github", class: "button float-right" %>
        <% end %>
      </section>
    </div>
  </header>
  <%= yield %>
</body>
</html>
